.bagIcon {
    color: yellow;
}

.IconsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
    padding: 0 32px;
    flex-wrap: wrap;
}

.bagIcon1 {
    width: 76px;
    height: 124px;

}

.bagIcon2 {
    width: 88px;
    height: 125px;
}
@media(max-width: 540px){
    .IconsWrapper{
        justify-content: center;
    }
}
