.bagIcon {
    color: yellow;
}

.IconsWrapper {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    padding: 0 32px;
    width: 95%;
    overflow: auto;
}
.IconsWrapper::-webkit-scrollbar {
    display: none;
}

.bagIcon1 {
    width: 90px;
    height: 124px;

}
.bagIcon2 {
    width: 96px;
    height: 125px;
}
@media(max-width: 540px){
    .IconsWrapper{
        justify-content: center;
    }
}
