.bagIcon {
    color: yellow;
}

.IconsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
    padding: 0 32px;
}
.bagIcon1{
    width: 90px;
    height: 124px;

}
.bagIcon2{
    width: 96px;
    height: 125px;
}
